button { 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.button1 {
  background-color: grey; 
  color: black; 
  border: 2px solid blue;
  transition: width 2s;
}

.button1:hover {
  width: 600px;
}

.button2 {
  background-color: grey; 
  color: black; 
  border: 2px solid red;
  transition: height 2s;
}

.button2:hover {
  height: 200px;
}

.button3 {
  background-color: grey; 
  color: black; 
  border: 2px solid green;
  transition: transform 2s;
}

.button3:hover {
  transform: rotate(720deg);
}
.button4 {
  background-color: grey; 
  color: black; 
  border: 2px solid yellow;
  transition: background-color 1s;
}

.button4:hover {
  background-color: purple;
}

.button5 {
  background-color: cyan; 
  color: black; 
  animation-name: colorShift;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes colorShift {
    0%		{background-color:cyan;}
    25%		{background-color:yellow}
    50%		{background-color:cyan}
    75%		{background-color:orange}
    100%	{background-color:cyan
}